<!doctype html>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>記帳軟體</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>


    <div class="container mt-1">
      <div class="input-group input-group-lg">
        <div class="btn btn-primary input-text btn-prevDate">
          <i class="fa-solid fa-angle-left"></i>
        </div>

        <input type="date" class="form-control myDate" value="<%=date%>">

        <div class="btn btn-primary input-text btn-nextDate">
          <i class="fa-solid fa-angle-right"></i>
        </div>
        <div class="btn btn-primary input-text btn-add" 
          >
            <i class="fa-solid fa-file-pen"></i>
        </div>
    </div>

    <div class="unit bg-primary mt-2 text-white rounded-top">
      <div class="sn text-center fs-5">SN</div>
      <div class="title fs-5">TITLE</div>
      <div class="sort fs-5">SORT</div>
      <div class="money fs-5">MONEY</div>
    </div>
    <div class="unit">
      <div class="sn text-center">SN</div>
      <div class="title">TITLE</div>
      <div class="sort">SORT</div>
      <div class="money text-end pe-2">9999</div>
    </div>
    <div class="bg-primary text-white p-1 rounded-bottom">
      <div class="fs-1 text-end pe-2">88888</div>
    </div>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="inputArea" >
      <div class="offcanvas-header d-flex">
        <button type="button" class="btn-close ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
      <form action="" method="post">
        <div class="input-group input-group-lg mb-2">
          <span class="input-group-text">消費內容</span>
          <input type="text" class="form-control" name="title">
        </div>
        <div class="input-group input-group-lg mb-2">
          <span class="input-group-text">消費金額</span>
          <input type="text" class="form-control" name="money">
        </div>
        <div class="input-group input-group-lg mb-2">
          <span class="input-group-text">消費分類</span>
         <select name="sort" class="form-select">
          <option value selected disabled>請選擇</option>
          <option value="1">食物</option>
         </select>
        </div>
        <div>
          <div class="d-flex newSet">
            <btm class="btn btn-lg btn-primary ms-auto me-2 btn-send">送出</btm>
            <btm class="btn btn-lg btn-warning btn-cancel" data-bs-dismiss="offcanvas">取消</btm>
          </div>
          <div class="d-none updateSet">
            <btm class="btn btn-lg btn-danger me-2 btn-del">刪除</btm>
            <btm class="btn btn-lg btn-primary ms-auto me-2 btn-send">送出</btm>
            <btm class="btn btn-lg btn-warning btn-cancel" data-bs-dismiss="offcanvas" >取消</btm>
          </div>
        </div>
      </form>
      </div>
    </div>
    <script src="/js/bootstrap.bundle.js"></script>
    <script>
      const btnPrevDate = document.querySelector(".btn-prevDate");
      const btnNextDate = document.querySelector(".btn-nextDate");
      const myDate = document.querySelector(".myDate");
      const bsOffcanvas = new bootstrap.Offcanvas('#inputArea');
      const btnAdd = document.querySelector(".btn-add")

      btnAdd.addEventListener("click", (e)=>{
        //關掉後清除資料
        document.querySelector("[name=title]").value="";
        document.querySelector("[name=money]").value="";
        document.querySelector("select").selectedIndex = 0;
        bsOffcanvas.show();
      })

      myDate.addEventListener("change", (e)=>{
        let date = e.currentTarget.value;
        window.location.href = `/expe/d/${date}`;
      })
      btnPrevDate.addEventListener("click", (e)=>{
        let date =new Date( myDate.value);
        date.setDate(date.getDate()-1);
        //console.log(date.toISOString());
        let dateStr = date.toISOString().split("T")[0];
        window.location.href = `/expe/d/${dateStr}`;
      })
      btnNextDate.addEventListener("click", ()=>{
        let date =new Date( myDate.value);
        date.setDate(date.getDate()+1);
        let dateStr = date.toISOString().split("T")[0];
        window.location.href = `/expe/d/${dateStr}`;
      })
    </script>
  </body>
</html>