.unit{
    --sn-width: 40px;
    --sort-width: 60px;
    --money-width: 80px;
    position: relative;
    display: flex;
    .sn{
        width: var(--sn-width);
    }
    .sort{
        width: var(--sort-width);
    }
    .money{
        width: var(--money-width);
    }
    .title{
        width: calc(100% - var(--sn-width) - var(--sort-width) - var(--money-width));
    }
}
.list{
    background-color: #f4f4f4;
    user-select: none;
    cursor: pointer;
    &:nth-child(even){
        background-color: rgb(221, 221, 221);
    }
    &:hover{
        background-color: rgb(112, 112, 112);
        color: #fff;
    }
}