<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container py-3">
        <% if(user){ %>
            <div class="d-flex align-items-end">
                <img class="rounded-circle" src="<%=user.img%>">
                <span class="ms-1 fs-3"><%=user.name%></span>
            </div>
            <button class="btn btn-primary btn-logout">登出</button>
        <% }else{ %>
            <button class="btn btn-primary btn-login">登入</button>
            <button class="btn btn-success">註冊</button>
        <% } %>
    </div>

    <script src="./js/jquery-3.7.0.min.js"></script>
    <script>
        $(".btn-logout").on("click", ()=>{
            window.location.href = "/logout";
        })
        $(".btn-login").on("click", ()=>{
            window.location.href = "/login";
        })
    </script>
</body>
</html>